<div class="layout">
    <style>
        .layout {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        .columns {
            width: 100%;
            max-width: 600px;
        }

        .column {
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        /* Word of the Day */
        .word-of-the-day {
            text-align: center;
        }

        .word {
            font-size: 3rem;
            font-family: "Arial Black", sans-serif;
            color: #000;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .level {
            font-size: 1.0rem;
            font-weight: normal;
        }

        .part-of-speech {
            font-size: 1.1rem;
            font-family: "Verdana", sans-serif;
            margin-bottom: 10px;
            margin-right: 15px;
        }

        .pronunciation {
            font-size: 1.3rem;
            font-family: "Courier New", monospace;
            margin-bottom: 15px;
        }

        .definition {
            font-size: 1.4rem;
            font-family: "Georgia", serif;
            line-height: 1.6;
            margin-bottom: 20px;
            margin-top: 25px;
        }

        .example {
            font-size: 1.2rem;
            font-family: "Times New Roman", serif;
            line-height: 1.6;
            padding: 15px;
            border-left: 4px solid #000;
            border-right: 4px solid #000;
            border-radius: 5px;
        }

        .multi-line-ellipsis {
            display: -webkit-box;
            -webkit-line-clamp: 3;   /* Liczba wierszy przed obcięciem */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

    </style>
    <div class="columns">
        <div class="column">
            <div class="markdown gap--large word-of-the-day">
                <h1 class="word">{{ word }}{% if level %}
                        <span class='level'>[{{ level }}]</span>
                    {% endif %}
                </h1>
                <div class="content-element content content--small">
                  <span class="part-of-speech">
                    <i>{{ qualifier }} {{ part_of_speech }}</i></span>
                    {% if pronunciation %}
                        <span class="pronunciation">/{{ pronunciation }}/</span>
                    {% endif %}

                    <p class="definition multi-line-ellipsis">{{ definition }}
                        {% if meaning %}
                            ({{ meaning }})
                        {% endif %}
                    </p>
                </div>

                {% if example %}
                    <div class="example multi-line-ellipsis">
                        <p>{{ example }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="title_bar">
    <span class="title">Words of the day</span>
    <span class="instance">{{ source }}</span>
</div>
